---
---

// Only the main Sass file needs front matter (the dashes are enough)

@charset "utf-8";

/* Rosé Pine scheme (base16) by Emilia Dunfelt */
// https://github.com/edunfelt/base16-rose-pine-scheme
$base00: #191724;
$base01: #1f1d2e;
$base02: #26233a;
$base03: #555169;
$base04: #6e6a86;
$base05: #e0def4;
$base06: #f0f0f3;
$base07: #c5c3ce;
$base08: #e2e1e7;
$base09: #eb6f92;
$base0a: #f6c177;
$base0b: #ebbcba;
$base0c: #31748f;
$base0d: #9ccfd8;
$base0e: #c4a7e7;
$base0f: #e5e5e5;

/* Define colours */
$primary-color: $base0a;
$link-color: $base09;
$background-color: $base00;

/* Theme imports */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Font faces */
@font-face{
  font-family: "Homemade Apple";
  src: url("../fonts/HomemadeApple/HomemadeApple-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Table of contents active link hover colour */
.toc .active a:hover {
  color: inherit;
}

/* Colours for notices */
@mixin notice($notice-color) {
  color: inherit;
  background-color: $notice-color;
  a {
    color: inherit;
  };
  code {
    background-color: mix($background-color, $notice-color, 25%);
  };
}

.notice {
  @include notice($light-gray);
}

.notice--primary {
  @include notice($primary-color);
}

.notice--info {
  @include notice($info-color);
}

.notice--warning {
  @include notice($warning-color);
}

.notice--success {
  @include notice($success-color);
}

.notice--danger {
  @include notice($danger-color);
}

/* Site title */
.site-title {
  font-family: "Homemade Apple", cursive;
  font-weight: normal;
}

/* Back to top button */
.sidebar__top {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 10;
  font-size: smaller;
  ::before {
    color: $primary-color;
  }
}

/* External link indicator */
/* Exclude indicator from buttons, and social icons */
.page, .page__footer, .page__hero--overlay {
  a:not(.btn):not([href*="localhost:4000"]):not([href*="//ayirp.gitlab.io"]):not([href^="#"]):not([href^="/"])::after {
    content: " \f35d";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    text-rendering: auto;
    font-weight: 900;
    font-variant: normal;
    font-size: small;
    font-style: normal;
    white-space: pre;
    -webkit-font-smoothing: antialiased;
  }
}
